<ion-header [translucent]="true">
  <ion-toolbar [color]="toolbarColour">
    <ion-buttons slot="start" (click)="presentSettings()">
      <ion-icon name="cog-outline" class="toolbarIcon"></ion-icon>
    </ion-buttons>
    <h3 class="locationName">{{ locationName }}</h3>
    <ion-buttons slot="end" (click)="presentInfo()">
      <ion-icon name="information-outline" class="toolbarIcon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of items | async | keyvalue">
    <ion-item>
      <strong> {{ item.value.name }} - </strong> <ion-button (click)="pmOne('-', item.value.id, item.value[locationMetaData.name].count)">-</ion-button> <p>{{ item.value[locationMetaData.name].count }} {{ item.value.units }}</p> <ion-button (click)="pmOne('+', item.value.id, item.value[locationMetaData.name].count)">+</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
