.toolbarIcon {
    font-size: 200%;
    vertical-align: text-top;
}

.transition {
    transition: visibility 0.5s;
}

ion-card {
    margin-top: 2%;
    margin-bottom: 2%;
}

.searchCardInfo {
    text-align: center;
    vertical-align: middle;
}


.locTitle {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 7px;
    left:0;
}

.locationName {
    font-size: medium;
    text-align: center;
    display: flex;
    color: white;
    
}

.bulletin {
    position: relative;
    top: 1px;
}

mat-expansion-panel-header {
    background-color: black !important
}

.matExpansionHeaderTitle {
    color: white;
}

mat-accordion,
mat-expansion-panel,
.mat-expansion-panel-body
{
            background: black;
            color: white;
}

::ng-deep .panel > .mat-expansion-indicator:after {
    color: white;
}

.buttons {
    text-align: center;
}

.addItemButton {
    width: 100%;
}


.pmButton {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}


//Category Card
.catCardTitle {
    display:  inline;
    font-size: 16px;
}

.catCardContainer {
    margin: 3%;
}

.catCardLeftSide {
    display: inline-block;
    //float: left;
    width: 50%;
}

.catCardSubInfo {
    width: 30%;
    display: inline;
    margin-left: 1%;
}

.catCardInfo {
    float: right;
    display: inline;
}

.catCardInfoSpan {
    display: inline-block;
    text-align: center;
    position: relative;
    
}

