<ion-header [translucent]="true">
  <ion-toolbar [color]="toolbarColour">
    <ion-buttons slot="start" (click)="presentSettings()">
      <ion-icon name="cog-outline" class="toolbarIcon" color="white"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="presentInfo()">
      <ion-icon name="information-outline" class="toolbarIcon" color="white"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar [color]="toolbarColour" >
    <ion-searchbar (ionInput)="filterList($event)" #itemsSearchBar color="light"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="searchArray" class="ion-margin">
    <h2>Search:</h2>
    <ion-list *ngFor="let searchedItem of searchArray">
      <ion-list *ngFor="let item of items | async">
        <ion-item *ngIf="searchedItem.id == item.id">
          <p> {{ item.name }} - </p><ion-button (click)="pmOne('-', item.id, item[locationMetaData.id].count)">-</ion-button> <p>{{ item[locationMetaData.id].count }} {{ item.units }}</p> <ion-button (click)="pmOne('+', item.id, item[locationMetaData.id].count)">+</ion-button>
        </ion-item>
      </ion-list>
    </ion-list>
    <br>
  </div>
  
  
  <div *ngIf="!searchArray" class="">
    <h2 class="ion-margin">Categories:</h2>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let category of categories" class="panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 class="matExpansionHeaderTitle">・{{ category }}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ion-list  *ngFor="let item of items | async | keyvalue">
          <ion-item *ngIf="item.value.category == category" class="item">
            <ion-grid>
              <ion-row>
                
                <ion-col> <!--Location Name-->
                  <span class="locationName" 
                  [style.color]="getColor(item.value[locationMetaData.id].count, item.value[locationMetaData.id].threshhold)">
                  {{ item.value.name }} -
                  </span>
                </ion-col>
               
                <ion-col size="auto" class="infoCol"> <!--Count display and plus/minus buttons-->
                  <ion-button class="pmButton" (click)="pmOne('-', item.value.id, item.value[locationMetaData.id].count)" color="danger"  >-</ion-button>
                  <span class=" info">{{ item.value[locationMetaData.id].count }} {{ item.value.units }}</span>
                  <ion-button class="pmButton" (click)="pmOne('+', item.value.id, item.value[locationMetaData.id].count)" color="success" >+</ion-button>
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="buttons ion-margin">
    <ion-button color="secondary" class="ion-margin" (click)="presentLocEditModal()">Edit Location</ion-button>
    <ion-button color="danger" class="ion-margin" (click)="deleteLocation()">Delete Location</ion-button>
  </div>

  
  
  <!-- <ion-list *ngFor="let item of items | async | keyvalue">
    <ion-item>
      <strong> {{ item.value.name }} - </strong> <ion-button (click)="pmOne('-', item.value.id, item.value[locationMetaData.name].count)">-</ion-button> <p>{{ item.value[locationMetaData.name].count }} {{ item.value.units }}</p> <ion-button (click)="pmOne('+', item.value.id, item.value[locationMetaData.name].count)">+</ion-button>
    </ion-item>
  </ion-list> -->
</ion-content>
