<ion-header [translucent]="true">
  <ion-toolbar [color]="toolbarColour">
    <ion-buttons slot="start" (click)="presentSettings()">
      <ion-icon name="cog-outline" class="toolbarIcon"></ion-icon>
    </ion-buttons>
    <h3 class="locationName"><!--{{locationMetaData.name}}--></h3>
    <ion-buttons slot="end" (click)="presentInfo()">
      <ion-icon name="information-outline" class="toolbarIcon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of items | async | keyvalue">
    <ion-item>
      <strong> {{ item.value.name }} - </strong> <p>{{item.value[locationName].count}}</p>
    </ion-item>
  </ion-list>
</ion-content>
