.toolbarIcon {
    font-size: 200%;
    vertical-align: text-top;
}

.locTitle {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 7px;
    left:0;
}

.locationName {
    text-align: center;
    display: flex;
    
}

.pmButton {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
}

.infoCol {
    display: flex;
}

.info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}


.addItemButton {
    width: 100%;
}

.bulletin {
    font-size: 130%;
    vertical-align: middle;
}

mat-expansion-panel-header {
    background-color: black !important
}

.matExpansionHeaderTitle {
    color: white;
}

mat-accordion,
mat-expansion-panel,
.mat-expansion-panel-body
{
            background: black;
            color: white;
}

::ng-deep .panel > .mat-expansion-indicator:after {
    color: white;
}

.buttons {
    text-align: center;
}

