<ion-header>
  <ion-toolbar>
    <ion-title>New Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="modalHideScroll">
  <form [formGroup]="newLocationForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">Locaion Name</ion-label>
      <ion-input formControlName="newLocationName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Location Type</ion-label>
      <ion-select  formControlName="newLocationType" placeholder="Select Location Type">
        <ion-select-option value="Restaurant">Restaurant</ion-select-option>
        <ion-select-option value="Farm">Farm</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button type="submit" color="primary" class="ion-margin" expand="block">Add</ion-button>
  </form>
</ion-content>
