.settingsHeading {
    text-align: center;
}

.container {
    text-align: center;
}

.loginLink {
    color: #0670c2;
    text-align: center;
    position: absolute;
    left: 46%;
}

.loginButton { 
    border-radius: 50px;
}