.toolbarIcon {
    font-size: 200%;
}

.Title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 7px;
    left:0;
}

.bulletin {
    position: relative;
    top: 1px;
}

ion-card {
    margin-top: 2%;
    margin-bottom: 2%;
}

//Expansion Panel
mat-expansion-panel-header {
    background-color: black !important
}

mat-accordion,
mat-expansion-panel,
    .mat-expansion-panel-body
    {
            background: black;
            color: white;
    }

.matExpansionHeaderTitle {
    color: white;
}

//Category Card
.catCardTitle {
    display:  inline;
    font-size: 16px;
    color: white;
}

.catCardContainer {
    margin: 3%;
}

.catCardLeftSide {
    display: inline-block;
    //float: left;
    width: 50%;
}

.catCardSubInfo {
    width: 30%;
    display: inline;
    margin-left: 1%;
}