.toolbarIcon {
    font-size: 200%;
}

.Title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 7px;
    left:0;
}

.bulletin {
    position: relative;
    top: 1px;
}

ion-card {
    margin-top: 2%;
    margin-bottom: 2%;
}

mat-expansion-panel-header {
    background-color: black !important
}



mat-accordion,
mat-expansion-panel,
    .mat-expansion-panel-body
    {
            background: black;
            color: white;
    }

.matExpansionHeaderTitle {
    color: white;
}