<ion-header [translucent]="true">
  <ion-toolbar [color]="toolbarColour">
    <ion-buttons slot="start" (click)="presentSettings()">
      <ion-icon name="cog-outline" class="toolbarIcon" color="white"></ion-icon>
    </ion-buttons>

    <ion-text color='white'class="Title">
      <h1> Items </h1>
    </ion-text>

    <ion-buttons slot="end" (click)="presentInfo()">
      <ion-icon name="information-outline" class="toolbarIcon" color="white"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar [color]="toolbarColour" >
    <ion-searchbar (ionInput)="filterList($event)" #itemsSearchBar color="light"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="searchArray" class="ion-margin">
    <h2>Search:</h2>
    
    <ion-list *ngFor="let searchedItem of searchArray" (click)="gotoItemPage(searchedItem.id)">
      <ion-card (click)="gotoItemPage(searchedItem.id)" class='searchCard'>
        <ion-card-header>
          <ion-card-subtitle> Item </ion-card-subtitle>
          <ion-card-title> {{ searchedItem.name }} </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-list>
    <br>
  </div>

  <div *ngIf="!searchArray" class="ion-margin">
    <h2>Categories:</h2>
    <mat-accordion multi>
      <mat-expansion-panel *ngFor="let category of categories">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 class="matExpansionHeaderTitle"><ion-icon name="chevron-forward-outline" class='bulletin'></ion-icon>{{ category }}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ion-list  *ngFor="let item of items | async | keyvalue; trackBy:trackByFn">
          
          <!--Larger Size Cards-->
          <!-- <ion-card [hidden]="item.value.category != category" (click)="gotoItemPage(item.value.id)" class='catCard'>
            <ion-card-header>
              <ion-card-subtitle>Item</ion-card-subtitle>
              <ion-card-title> {{ item.value.name }} </ion-card-title>
            </ion-card-header>
          </ion-card> -->

          <!--Same Size as Location Page-->
          <ion-card [hidden]="item.value.category != category" class="item" (click)='gotoItemPage(item.value.id)'>
            <div class='catCardContainer catCardLeftSide'>
              <div class='catCardTitle'>
                <strong>
                  {{item.value.name}}
                </strong>
              </div>

              <div class='catCardSubInformation'>
                <span>{{item.value.units}}</span>
              </div>
            </div>
            <div class='catCardContainer catCardRightSide'>
              Total: {{itemTotals[item.value.name]}}
            </div>
          </ion-card>
          <!-- <ion-item *ngIf="item.value.category == category" (click)="gotoItemPage(item.value.id)" class="item"> ・{{item.value.name}} </ion-item> -->
        </ion-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <ion-button (click)="presentNewItemModal()" class="ion-margin" expand="block">Add new Item</ion-button>
</ion-content>
