<ion-header [translucent]="true">
  <ion-toolbar [color]="toolbarColour">
    <ion-buttons slot="start" (click)="presentSettings()">
      <ion-icon name="cog-outline" class="toolbarIcon"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="presentInfo()">
      <ion-icon name="information-outline" class="toolbarIcon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of items | async" (click)="gotoItemPage(item.id)">
    <ion-item>
      <h3> {{item.name}} </h3>
    </ion-item>
  </ion-list>
  <br>
  <ion-button (click)="presentNewItemModal()">Add new Item</ion-button>
</ion-content>
