.settingsHeading {
    text-align: center;
}

.settingsCard {
    margin: 0;
    padding: 0;
}

.tileCard {
    width: 45%;
    display: inline-block;
}

.stackedCard {
    background-color: #323233;
    margin: 2%;
}

