<ion-header [translucent]="true">
  <ion-toolbar [color]="toolbarColour">
    <ion-buttons slot="start" (click)="presentSettings()" >
      <ion-icon name="cog-outline" class="toolbarIcon" color="white"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar [color]="toolbarColour">
    <ion-text class="Title" color="white"> <h2>Login</h2> </ion-text>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">  
  <div class="loginButton">
    <!-- DEBUG LOGIN -->
    
    <ion-button (click)="debugLogin()" class="ion-margin" color='danger'> <ion-icon name="git-merge-outline"></ion-icon> </ion-button>
    <br>
    
    <!--END DEBUG LOGIN-->
    <ion-button (click)="login()" class="ion-margin"> <ion-icon name="key-outline"></ion-icon> </ion-button>
  </div>
</ion-content>
