ion-card {
    margin: 0;
    padding: 0;
    background-color: #454547;
}

.nlansonImage {
    margin-right: 5px;
    margin-bottom: 10%;
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 100%;

    position: relative;
    left: -10px;
}