<ion-header [translucent]="true">
  <ion-toolbar>
    <h1 class="settingsHeading">Account Settings</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    
    <div *ngIf="accountExists">
      <p> Logged in as: </p>
      <h4> {{ savedUser.email }} </h4> 
      <br>
      <ion-buttons (click)="showLoginForm()" class="changeAccountLink" *ngIf="!showLogin">Change Account</ion-buttons>
      <ion-buttons (click)="hideLoginForm()" class="loginLink" *ngIf="showLogin">Hide</ion-buttons>
      <br><br>
      <ion-buttons (click)="presentDeleteAlert()" class="clearLink" *ngIf="!showLogin">Clear</ion-buttons>
    </div>
  
    <div *ngIf="!accountExists">
      <p>No account connected.</p>
      <ion-buttons (click)="showLoginForm()" class="loginLink" *ngIf="!showLogin">Login</ion-buttons>
      <ion-buttons (click)="hideLoginForm()" class="loginLink" *ngIf="showLogin">Hide</ion-buttons>
    </div>
    
    <div *ngIf="showLogin">
      <form [formGroup]="LoginForm" (ngSubmit)="setAccount()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password" id="key"></ion-input>
        </ion-item>
        <ion-button type="submit" color="primary" class="ion-margin" expand="block">Set Account</ion-button>
      </form>
    </div>

  </div>
</ion-content>