<ion-header [translucent]="true">
  <ion-toolbar>
    <h1 class="settingsHeading">Settings</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf='currentUser != null'>
    <ion-card class='accCard'>
      <ion-card-content>
        <div class='accCardLeft'>
          <ion-card-subtitle>
            Logged in as:
          </ion-card-subtitle>
          <ion-card-title>
            {{currentUser.displayName}}
          </ion-card-title>
        </div>
        <div class='accCardRight'>
          <ion-button color='danger' (click)="logout()" class='accPanelLogoutButton'>
            Logout <ion-icon name="log-out-outline" class="logoutIcon"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
    
    <!--
    <ion-buttons (click)="setDisplayName()">
      <h4>Set DN</h4> <ion-icon name="log-out-outline" class="logoutIcon"></ion-icon>
    </ion-buttons>
    -->

    <ion-button (click)="presentNewLocationModal()" class="ion-margin" expand="block">New Location</ion-button>
</ion-content>