.toolbarIcon {
    font-size: 200%;
}

.transition {
    transition: visibility 0.5s;
}

.locationCard {
    height: 100%;
}

.cardInfo {
    text-align: center;
    vertical-align: middle;
}

.itemName {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 7px;
    left:0;
}

.locationName {
    vertical-align: middle;
    display: flex;
}

.pmButton {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
}

.infoCol {
    display: flex;
}

.info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

.editButton {
    font-size: 150%;
    right: 7px;
    position: absolute;
    vertical-align: middle;
    margin-top: 25%;
}

.buttons {
    text-align: center;
}
