<ion-header [translucent]="true">
  <ion-toolbar [color]="toolbarColour">
    <ion-buttons slot="start" (click)="presentSettings()">
      <ion-icon name="cog-outline" class="toolbarIcon"></ion-icon>
    </ion-buttons>
    <h3 class="itemName">{{itemName}}</h3>
    <ion-buttons slot="end" (click)="presentInfo()">
      <ion-icon name="information-outline" class="toolbarIcon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list *ngFor="let info of item | async | keyvalue">
    <ion-item *ngIf="info.value != id && info.value != itemName && info.value != itemUnits">
      <!--  The ngIf info.value=="Tomatoes" needs to be changed to the item name. Need to retrieve item name from click  -->
      <strong>{{info.value.locationName}} - </strong> <ion-button (click)="minusOne(info.value.locationName, info.value.count)">-</ion-button> <p>{{info.value.count}}  {{itemUnits}}</p> <ion-button (click)="plusOne(info.value.locationName, info.value.count)">+</ion-button>
    </ion-item>
  </ion-list>

  <ion-button class="ion-margin" color="danger" (click)="deleteItem(id)" *ngIf="item">Delete Item</ion-button>

</ion-content>
