.toolbarIcon {
    font-size: 200%;
}

.locationCard {
    height: 100%;
}

.cardInfo {
    text-align: center;
    vertical-align: middle;
}

.cardPMButton {
    vertical-align: middle;
}

.cardLocationName {
    text-align: left;
}

.itemName {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 7px;
    left:0;
}

.editButton {
    font-size: 150%;
    right: 7px;
    position: absolute;
    vertical-align: middle;
    margin-top: 25%;
}

.buttons {
    text-align: center;
}
