<ion-header [translucent]="true">
  <ion-toolbar [color]="toolbarColour">
    <ion-buttons slot="start" (click)="presentSettings()">
      <ion-icon name="cog-outline" class="toolbarIcon" color="white"></ion-icon>
    </ion-buttons>
    <ion-text color='white'class="itemName">
      <h1>{{itemName}}</h1>
    </ion-text>
    <ion-buttons slot="end" (click)="presentInfo()">
      <ion-icon name="information-outline" class="toolbarIcon" color="white"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list *ngFor="let item of item | async | keyvalue">
    <ion-card
    class='locationCard ion-margin'
    *ngIf="item.key != 'id' && item.key != 'name' && item.key != 'units' && item.key != 'category'"
    (click)="presentDetailedEdit(item.key)"
    >
     <ion-card-content>
       <ion-grid>
         <ion-row>
          <ion-card-subtitle>
            <ion-text color='white'>
             <h3>{{item.value.locationName}}:</h3>
            </ion-text>
          </ion-card-subtitle>
         </ion-row>
         <ion-row>
          <ion-col size='3'>
            <ion-button
            class="cardPMButton"
            (click)="pmOne('-', item.key, item.value.count);  $event.stopPropagation();"
            color="danger"
            [ngStyle]="{
              'position':'absolute',
              'right':'25%'
            }"
            >-</ion-button>
          </ion-col>
          <ion-col size='6'>
            <ion-card-title class='cardInfo' [style.color]="getColor(item.value.count, item.value.threshhold)">
                {{item.value.count}} {{itemUnits}}
            </ion-card-title>
          </ion-col>
          <ion-col size='3'>
            <ion-button
            class="cardPMButton" (click)="pmOne('+', item.key, item.value.count);  $event.stopPropagation();"
            color="success"
            [ngStyle]="{
              'position':'absolute',
              'left':'25%'
            }" 
            >+</ion-button>
          </ion-col>
         </ion-row>
       </ion-grid>
     </ion-card-content>
    </ion-card>
    
    
  </ion-list>

  <div class="buttons ion-margin">
    <ion-button class="ion-margin" color="secondary" (click)="presentEditItem()" *ngIf="item">Edit Item</ion-button>
    <ion-button class="ion-margin" color="danger" (click)="deleteItem(id)" *ngIf="item">Delete Item</ion-button>
  </div>
</ion-content>
