<ion-header [translucent]="true">
  <ion-toolbar [color]="toolbarColour">
    <ion-buttons slot="start" (click)="presentSettings()" >
      <ion-icon name="cog-outline" class="toolbarIcon" color="white"></ion-icon>
    </ion-buttons>
    
    <ion-text color='white'class="Title">
      <h1> Locations </h1>
    </ion-text>

    <ion-buttons slot="end" (click)="presentInfo()">
      <ion-icon name="information-outline" class="toolbarIcon" color="white"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="ion-margin">
    <ion-card *ngFor="let location of locations | async; trackBy:trackByFn" (click)="gotoLocPage(location.id)">
      <ion-card-header>
        <ion-card-title>{{location.name}}</ion-card-title>
        <ion-card-subtitle>Last Updated: {{location.lastUpdated | date: 'MMM d, h:mm a'}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>
