<ion-header [translucent]="true">
  <ion-toolbar [color]="toolbarColour">
    <ion-buttons slot="start" (click)="presentSettings()" >
      <ion-icon name="cog-outline" class="toolbarIcon" color="white"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="presentInfo()">
      <ion-icon name="information-outline" class="toolbarIcon" color="white"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <ion-list *ngFor="let location of locations | async" (click)="gotoLocPage(location.id)">
      <ion-item>
        <h3> ・{{location.name}} </h3>
      </ion-item>
    </ion-list>
    <br>
    <ion-button (click)="presentNewLocationModal()" class="ion-margin" expand="full">New Location</ion-button>
  </div>
</ion-content>
