/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --ion-color-white: #ffffff;
    --ion-color-white-rgb: 255, 255, 255;
    --ion-color-white-contrast: #000000;
    --ion-color-white-contrast-rgb: 0, 0, 0;
    --ion-color-white-shade: #f4f4f4;
    --ion-color-white-tint: #f5f5f5;
}

.ion-color-white {
    --ion-color-base: var(--ion-color-white) !important;
    --ion-color-base-rgb: var(--ion-color-white-rgb) !important;
    --ion-color-contrast: var(--ion-color-white-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-white-shade) !important;
    --ion-color-tint: var(--ion-color-white-tint) !important;
}


.settingsModal{
    --width: 100%;
    --height: auto;
    --min-height: 30%;
    --max-height: 75%;
}

.infoModal {
    --width: 80%;
    --height: 150px; //change here as more information gets added into the info modal
    --min-height: 50px;
    --border-radius: 20px;
}

.loginSettingsModal{
    --width: 100%;
    --height: 95%;
    --border-radius: 50px;
}

//Use pixel height to resolve keyboard height bug

.newItemModal {
    --width: 80%;
    --height: 335px;
    --min-height: 300px;
    --border-radius: 20px;
}

.modalHideScroll {
    --overflow: hidden;
}

.newLocationModal {
    --width: 80%;
    --height: 325px;
    --min-height: 300px;
    --border-radius: 20px;
}

.editLocModal {
    --width: 80%;
    --height: 325px;
    --border-radius: 20px;
}

.editItemDetailModal {
    --width: 85%;
    --height: 370px;
    --border-radius: 20px;
}



.ion-color-white {
    --ion-color-base: var(--ion-color-white) !important;
    --ion-color-base-rgb: var(--ion-color-white-rgb) !important;
    --ion-color-contrast: var(--ion-color-white-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-white-shade) !important;
    --ion-color-tint: var(--ion-color-white-tint) !important;
}