<ion-header [translucent]="true">
  <ion-toolbar [color]="toolbarColour">
    <ion-buttons slot="start" (click)="presentSettings()">
      <ion-icon name="cog-outline" class="toolbarIcon"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="presentInfo()">
      <ion-icon name="information-outline" class="toolbarIcon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar [color]="toolbarColour">
    <ion-segment value="Locations">
      <ion-segment-button *ngFor="let location of locations | async" (click)="showLocation(location.name);">{{location.name}}</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <strong>{{currentLocation}}</strong>
  </div>
</ion-content>
